html, 
body{padding-right:50px;  font: 102% arial; text-align:center; background-color:#185443;}

div#wrapper{float:left;width:880px; margin-right: 100px; height: 450px; padding: 10px; margin-top:0px; background-color:#FFF8E0;}

p{margin:0 0px 0px}
a{padding:0px; text-decoration:none; color:#FFF8E0}

div#sales{background-color:#E0F5E6; width:900px;}
div#sales h2{height:70px; text-align: center; line-height:80px; font-family: arial;}
a#sales{color:black; text-decoration:none; padding:0px;}

div#header{text-align:left; background-color:#185443; margin-bottom:10px; margin-top: 0px; color:#FFF8E0;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px; font-family: times new roman;}

div#container{text-align:left;}

div#navigation{margin-top: 0px; margin-left: 0px; border:1px solid black;  border-right: 2px solid black; height: 140px; position: absolute; font: 100% arial; background-color:#FFF8E0; color: black;}
#navigation a{text-align: right; padding:3px; text-decoration:none; color:black; font-family: arial;}
div#navigation ul{margin:0 0px; padding:3px; list-style-type:none;}
div#navigation li{margin:10px; padding: 3px;}

div#lang{width:100px; height:40px; margin-left: 140px; margin-top:-117px; background-color:#185443;}
div#lang a{color:white; text-decoration: none; font-family: arial;}

img{object-fit: cover;}

div#lg {width:300px; color:#185443; height:350px; text-decoration: none; margin-left:300px; background:#FFF8E0;}
div#lg h3{width:300px; color:#185443; height:40px; text-decoration: none; margin-left: 200px; margin-bttom: 20px; background:#FFF8E0;}
div#lg p{margin-top:15px; font-family: times new roman; color:#185443;  font: 100%; text-align:center;}
img#img9{margin-left:50px;margin-top:0px;}

div#footer{background:#E0F5E6;}
div#footer p{padding:5px 10px; height: auto; text-align: left;}
div#footer a{color:black;}

div#container{width:900px;heigth:450px; margin:0 auto}

div#navigation{margin-right:0px; width:300px;}
div#footer{margin-top:80px; 
margin-left: 0px;
    width: 900px}